<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Table: </h2>

<form action="/create" method="get">
    <input type="submit" value="add message">
</form>

<br/>

<table border="2px">
    <tr>
        <th>id</th>
        <th>text</th>
        <th>delete</th>
    </tr>
    <tr th:each="msg : ${messages}">
        <td th:text="${msg.id}"></td>
        <td th:text="${msg.text}"></td>
        <td><a th:href="@{'/delete/' + ${msg.id}}">Delete</a></td>
    </tr>
</table>
</body>
</html>
